sphinx
sphinx-intl
sphinx-rtd-theme
sphinxcontrib-openapi
sphinxcontrib-napoleon
sphinx-autobuild
apache-airflow
apache-airflow-providers-ssh
apache-airflow-providers-common-sql
apache-airflow-providers-postgres
Unidecode
wheel
pandas
geopandas
sqlalchemy
psycopg2
shapely
requests
git+https://github.com/herver1971/geonode-provider.git
